.dashboard {   
    width: 100%;
    background-color: rgb(46, 240, 133);
    color: white;
    padding: 6%;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .rule-page {
    padding: 75px;
  }