
<div class="nav">
    <li class="link">
      <a routerLink="/home" (click)="redirectToHomePage()">
        Home
      </a>
    </li>
    <li class="link">
      <a routerLink="/rule-module" (click)="openRuleModel()">
        Rule Management
      </a>
    </li>
    <li class="link">
      <a routerLink="/app2">
        App 2
      </a>
    </li>
  </div>

