.nav {
    width: 100%;
    background-color: #1a478c;
    color: white;
    padding: 2%;
    /* margin-left: 90%; */
}

.link {
    margin: 10px 50px;
    display: inline;
    text-decoration: none;
}

.link a {
    text-decoration: none;
    color: white;
    margin: 10px;
}